.chatbot__view {}

.chatbot {
  background-color: white;  
  padding: 20px;   
  width: 300px; 
  max-height: 400px;
  position: absolute; 
  top: 200px; 
  right: -15px; /* hide off screen */ 
  transition: right 0.3 ease;
  border-radius: 10px; overflow-y: auto;
} 

/* when open */
.chatbot.chatbot--open {
  right: 20px;
} 

/* chatbot tab */ 
.chatbot__tab {}

.chatbot__input {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom : 1px solid black; 
  cursor: pointer;
}

.chatbot__send-btn {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
